<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <h1>About Michelle Yeoh</h1>
    <p id="about-p">
      Michelle Yeoh Choo Kheng; born Yeoh Choo Kheng; is a Malaysian actress.
      Credited as Michelle Khan in her early films in Hong Kong, she rose to
      fame in the 1990s after starring in a series of Hong Kong action films
      where she performed her own stunts, such as Yes, Madam (1985), Magnificent
      Warriors (1987), Police Story 3: Supercop (1992), The Heroic Trio (1993),
      and Holy Weapon (1993).
    </p>
    <img
      id="sag-award-img"
      src="./images/award.jpg"
      alt="michelle yeoh sag awards"
    />

    <div id="about-her">
      <div>
        <h3>Early Life</h3>
        <p class="about-section">
          Yeoh was born on 6 August 1962 in Ipoh, Perak, to a Malaysian Chinese
          family of Hokkien and Cantonese ancestry. Her parents are Janet Yeoh
          and Yeoh Kian-teik, a lawyer and Malaysian Chinese Association
          politician. She grew up speaking Malay and English, and could not read
          or speak Cantonese very well. She expressed that lack as her "greatest
          regret" in 2022. Despite that, she learned to speak Cantonese fluently
          in the 1980s and some Mandarin in the 2000s.
        </p>
      </div>

      <div>
        <h3>Awards</h3>
        <ul class="about-section">
          <li>Academy Award - Best Actress</li>
          <li>Screen Actors' Guild - Best Actress</li>
          <li>Screen Actors' Guild - Best Performance in a Motion Picture</li>
          <li>Golden Globe Award - Best Actress</li>
          <li>Georgia Films Critic Association - Best Actress</li>
        </ul>
      </div>
    </div>
  </body>
</html>
