<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Michelle Yeoh</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>

    <h1>Michelle Yeoh</h1>
    <h2>Critically acclaimed actress!</h2>

    <div><img id='home-img' src=/images/home.jpg></div>
  </body>
</html>
