<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>

    <h1>Prominent Works</h1>

    <div id="works-div">
      <div class="movie-div">
        <h4>Everything Everywhere All at Once (2022)</h4>
        <img
          src="../images/everything.jfif"
          alt="everything everywhere all at once movie poster"
        />
      </div>
      <div class="movie-div">
        <h4>Shang-Chi and the Legend of the Ten Rings (2021)</h4>
        <img src="./images/shang.jpg" alt="shang-chi movie poster" />
      </div>

      <div class="movie-div">
        <h4>Crouching Tiger Hidden Dragon (2000)</h4>
        <img
          src="./images/crouching.jfif"
          alt="crouching tiger hidden dragon movie poster"
        />
      </div>

      <div class="movie-div">
        <h4>Crazy Rich Asians (2018)</h4>
        <img src="./images/crazy.jfif" alt="crazy rich asians movie poster" />
      </div>

      <div>
        <h4>Star Trek Discovery (2017-2020)</h4>
        <img src="./images/star.webp" alt="Star Trek Discovery series poster" />
      </div>
    </div>
  </body>
</html>
